In [1]:
import pandas as pd
pd.set_option("display.max_columns", None)

In [2]:
ad = pd.read_csv('./dft-road-casualty-statistics-accident-2019.csv',low_memory=False)

In [3]:
ad.head()

,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,number_of_casualties,date,day_of_week,time,local_authority_district,local_authority_ons_district,local_authority_highway,first_road_class,first_road_number,road_type,speed_limit,junction_detail,junction_control,second_road_class,second_road_number,pedestrian_crossing_human_control,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location
0,2019010128300,2019,010128300,528218.0,180407.0,-0.153842,51.508057,1,3,2,3,18/02/2019,2,17:50,1,E09000033,E09000033,3,4202,1,30,1,2,3,4202,0,5,1,1,1,0,0,1,3,2,E01004762
1,2019010152270,2019,010152270,530219.0,172463.0,-0.127949,51.436208,1,3,2,1,15/01/2019,3,21:45,9,E09000022,E09000022,3,23,2,30,0,-1,-1,-1,9,9,4,1,1,0,0,1,3,2,E01003117
2,2019010155191,2019,010155191,530222.0,182543.0,-0.124193,51.526795,1,3,2,1,01/01/2019,3,01:50,2,E09000007,E09000007,4,504,6,30,3,4,6,0,0,0,4,1,1,0,0,1,1,2,E01000943
3,2019010155192,2019,010155192,525531.0,184605.0,-0.191044,51.546387,1,2,1,1,01/01/2019,3,01:20,2,E09000007,E09000007,4,510,6,20,3,4,4,510,0,0,4,1,1,0,0,1,1,2,E01000973
4,2019010155194,2019,010155194,524920.0,184004.0,-0.200064,51.541121,1,3,2,2,01/01/2019,3,00:40,28,E09000005,E09000005,3,4003,6,30,6,4,6,0,0,0,4,1,1,0,0,1,1,2,E01000546

In [4]:
ad.groupby("number_of_vehicles")["number_of_casualties"].count()

number_of_vehicles
1     34168
2     71898
3      8684
4      2034
5       488
6       158
7        59
8        29
9         9
10        2
11        1
12        1
13        2
14        1
15        1
17        1
Name: number_of_casualties, dtype: int64

In [5]:
ad.shape

(117536, 36)

In [6]:
ad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117536 entries, 0 to 117535
Data columns (total 36 columns):
 #   Column                                       Non-Null Count   Dtype
---  ------                                       --------------   -----
 0   accident_index                               117536 non-null  object
 1   accident_year                                117536 non-null  int64
 2   accident_reference                           117536 non-null  object
 3   location_easting_osgr                        117508 non-null  float64
 4   location_northing_osgr                       117508 non-null  float64
 5   longitude                                    117508 non-null  float64
 6   latitude                                     117508 non-null  float64
 7   police_force                                 117536 non-null  int64
 8   accident_severity                            117536 non-null  int64
 9   number_of_vehicles                           117536 non-null  int64
 10  number_of_casualties                         117536 non-null  int64
 11  date                                         117536 non-null  object
 12  day_of_week                                  117536 non-null  int64
 13  time                                         117536 non-null  object
 14  local_authority_district                     117536 non-null  int64
 15  local_authority_ons_district                 117536 non-null  object
 16  local_authority_highway                      117536 non-null  object
 17  first_road_class                             117536 non-null  int64
 18  first_road_number                            117536 non-null  int64
 19  road_type                                    117536 non-null  int64
 20  speed_limit                                  117536 non-null  int64
 21  junction_detail                              117536 non-null  int64
 22  junction_control                             117536 non-null  int64
 23  second_road_class                            117536 non-null  int64
 24  second_road_number                           117536 non-null  int64
 25  pedestrian_crossing_human_control            117536 non-null  int64
 26  pedestrian_crossing_physical_facilities      117536 non-null  int64
 27  light_conditions                             117536 non-null  int64
 28  weather_conditions                           117536 non-null  int64
 29  road_surface_conditions                      117536 non-null  int64
 30  special_conditions_at_site                   117536 non-null  int64
 31  carriageway_hazards                          117536 non-null  int64
 32  urban_or_rural_area                          117536 non-null  int64
 33  did_police_officer_attend_scene_of_accident  117536 non-null  int64
 34  trunk_road_flag                              117536 non-null  int64
 35  lsoa_of_accident_location                    117536 non-null  object
dtypes: float64(4), int64(25), object(7)
memory usage: 32.3+ MB

#### Check Null values

In [7]:
ad.isna().sum()
# ad.isnull().sum()

accident_index                                  0
accident_year                                   0
accident_reference                              0
location_easting_osgr                          28
location_northing_osgr                         28
longitude                                      28
latitude                                       28
police_force                                    0
accident_severity                               0
number_of_vehicles                              0
number_of_casualties                            0
date                                            0
day_of_week                                     0
time                                            0
local_authority_district                        0
local_authority_ons_district                    0
local_authority_highway                         0
first_road_class                                0
first_road_number                               0
road_type                                       0
speed_limit                                     0
junction_detail                                 0
junction_control                                0
second_road_class                               0
second_road_number                              0
pedestrian_crossing_human_control               0
pedestrian_crossing_physical_facilities         0
light_conditions                                0
weather_conditions                              0
road_surface_conditions                         0
special_conditions_at_site                      0
carriageway_hazards                             0
urban_or_rural_area                             0
did_police_officer_attend_scene_of_accident     0
trunk_road_flag                                 0
lsoa_of_accident_location                       0
dtype: int64

#### Drop null/na values because it isn't much

In [8]:
ad = ad.fillna("unknown")

In [9]:
ad.isna().sum()

accident_index                                 0
accident_year                                  0
accident_reference                             0
location_easting_osgr                          0
location_northing_osgr                         0
longitude                                      0
latitude                                       0
police_force                                   0
accident_severity                              0
number_of_vehicles                             0
number_of_casualties                           0
date                                           0
day_of_week                                    0
time                                           0
local_authority_district                       0
local_authority_ons_district                   0
local_authority_highway                        0
first_road_class                               0
first_road_number                              0
road_type                                      0
speed_limit                                    0
junction_detail                                0
junction_control                               0
second_road_class                              0
second_road_number                             0
pedestrian_crossing_human_control              0
pedestrian_crossing_physical_facilities        0
light_conditions                               0
weather_conditions                             0
road_surface_conditions                        0
special_conditions_at_site                     0
carriageway_hazards                            0
urban_or_rural_area                            0
did_police_officer_attend_scene_of_accident    0
trunk_road_flag                                0
lsoa_of_accident_location                      0
dtype: int64

In [10]:
unknown = ad[ad["location_easting_osgr"] == "unknown"]
unknown.head()

,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,number_of_casualties,date,day_of_week,time,local_authority_district,local_authority_ons_district,local_authority_highway,first_road_class,first_road_number,road_type,speed_limit,junction_detail,junction_control,second_road_class,second_road_number,pedestrian_crossing_human_control,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location
27337,2019040854828,2019,040854828,unknown,unknown,unknown,unknown,4,3,2,1,21/06/2019,6,20:15,114,E08000010,E08000010,1,6,3,70,0,-1,-1,-1,0,0,1,1,1,0,0,3,2,1,-1
29369,2019051910615,2019,051910615,unknown,unknown,unknown,unknown,5,3,1,1,04/03/2019,2,17:50,95,E08000015,E08000015,6,0,6,30,3,4,6,0,0,0,4,5,2,0,0,3,1,2,-1
30791,2019051912864,2019,051912864,unknown,unknown,unknown,unknown,5,2,2,2,08/11/2019,6,19:18,91,E08000012,E08000012,6,0,6,30,0,-1,-1,-1,0,0,6,1,2,0,0,3,1,2,-1
34816,2019070003662,2019,070003662,unknown,unknown,unknown,unknown,7,3,1,1,04/01/2019,6,15:56,130,E06000050,E06000050,3,5268,6,30,9,2,6,0,0,0,1,9,1,0,0,3,1,2,-1
35505,2019070275916,2019,070275916,unknown,unknown,unknown,unknown,7,3,2,1,28/05/2019,3,18:00,128,E06000007,E06000007,3,574,1,30,1,4,3,574,0,0,1,1,1,0,0,3,2,2,-1

In [11]:
vd = pd.read_csv('dft-road-casualty-statistics-vehicle-2019.csv',low_memory=False)

In [12]:
vd.head()

,accident_index,accident_year,accident_reference,vehicle_reference,vehicle_type,towing_and_articulation,vehicle_manoeuvre,vehicle_direction_from,vehicle_direction_to,vehicle_location_restricted_lane,junction_location,skidding_and_overturning,hit_object_in_carriageway,vehicle_leaving_carriageway,hit_object_off_carriageway,first_point_of_impact,vehicle_left_hand_drive,journey_purpose_of_driver,sex_of_driver,age_of_driver,age_band_of_driver,engine_capacity_cc,propulsion_code,age_of_vehicle,generic_make_model,driver_imd_decile,driver_home_area_type
0,2019010128300,2019,010128300,1,9,0,99,9,9,99,9,9,99,9,99,4,9,6,1,58,9,-1,-1,-1,-1,2,1
1,2019010128300,2019,010128300,2,9,0,99,9,9,99,9,9,99,9,99,9,9,6,3,-1,-1,-1,-1,-1,-1,2,1
2,2019010152270,2019,010152270,1,9,0,18,9,9,99,0,9,99,9,99,1,9,6,2,24,5,-1,-1,-1,-1,3,1
3,2019010152270,2019,010152270,2,9,0,18,9,9,99,0,9,99,9,99,9,9,6,3,-1,-1,-1,-1,-1,-1,6,1
4,2019010155191,2019,010155191,1,9,0,3,5,1,0,1,0,0,0,0,2,1,6,1,45,7,-1,-1,-1,-1,4,1

In [13]:
vd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216381 entries, 0 to 216380
Data columns (total 27 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   accident_index                    216381 non-null  object
 1   accident_year                     216381 non-null  int64
 2   accident_reference                216381 non-null  object
 3   vehicle_reference                 216381 non-null  int64
 4   vehicle_type                      216381 non-null  int64
 5   towing_and_articulation           216381 non-null  int64
 6   vehicle_manoeuvre                 216381 non-null  int64
 7   vehicle_direction_from            216381 non-null  int64
 8   vehicle_direction_to              216381 non-null  int64
 9   vehicle_location_restricted_lane  216381 non-null  int64
 10  junction_location                 216381 non-null  int64
 11  skidding_and_overturning          216381 non-null  int64
 12  hit_object_in_carriageway         216381 non-null  int64
 13  vehicle_leaving_carriageway       216381 non-null  int64
 14  hit_object_off_carriageway        216381 non-null  int64
 15  first_point_of_impact             216381 non-null  int64
 16  vehicle_left_hand_drive           216381 non-null  int64
 17  journey_purpose_of_driver         216381 non-null  int64
 18  sex_of_driver                     216381 non-null  int64
 19  age_of_driver                     216381 non-null  int64
 20  age_band_of_driver                216381 non-null  int64
 21  engine_capacity_cc                216381 non-null  int64
 22  propulsion_code                   216381 non-null  int64
 23  age_of_vehicle                    216381 non-null  int64
 24  generic_make_model                216381 non-null  int64
 25  driver_imd_decile                 216381 non-null  int64
 26  driver_home_area_type             216381 non-null  int64
dtypes: int64(25), object(2)
memory usage: 44.6+ MB

In [14]:
vd.isna().sum()

accident_index                      0
accident_year                       0
accident_reference                  0
vehicle_reference                   0
vehicle_type                        0
towing_and_articulation             0
vehicle_manoeuvre                   0
vehicle_direction_from              0
vehicle_direction_to                0
vehicle_location_restricted_lane    0
junction_location                   0
skidding_and_overturning            0
hit_object_in_carriageway           0
vehicle_leaving_carriageway         0
hit_object_off_carriageway          0
first_point_of_impact               0
vehicle_left_hand_drive             0
journey_purpose_of_driver           0
sex_of_driver                       0
age_of_driver                       0
age_band_of_driver                  0
engine_capacity_cc                  0
propulsion_code                     0
age_of_vehicle                      0
generic_make_model                  0
driver_imd_decile                   0
driver_home_area_type               0
dtype: int64

In [15]:
pd.DataFrame(vd["accident_index"].unique()).count()

0    117536
dtype: int64

In [16]:
pd.DataFrame(vd["accident_reference"].unique()).count()

0    117536
dtype: int64

In [17]:
pd.DataFrame(vd["accident_year"].unique()).count()

0    1
dtype: int64

In [18]:
import seaborn as sns

In [19]:
# ad["time"] = pd.DatetimeIndex.time(ad["time"])
# ad['time'] = time.hour + time.minute/60
# ad["time"] = [time.time() for time in ad["time"]]

In [20]:
ad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117536 entries, 0 to 117535
Data columns (total 36 columns):
 #   Column                                       Non-Null Count   Dtype
---  ------                                       --------------   -----
 0   accident_index                               117536 non-null  object
 1   accident_year                                117536 non-null  int64
 2   accident_reference                           117536 non-null  object
 3   location_easting_osgr                        117536 non-null  object
 4   location_northing_osgr                       117536 non-null  object
 5   longitude                                    117536 non-null  object
 6   latitude                                     117536 non-null  object
 7   police_force                                 117536 non-null  int64
 8   accident_severity                            117536 non-null  int64
 9   number_of_vehicles                           117536 non-null  int64
 10  number_of_casualties                         117536 non-null  int64
 11  date                                         117536 non-null  object
 12  day_of_week                                  117536 non-null  int64
 13  time                                         117536 non-null  object
 14  local_authority_district                     117536 non-null  int64
 15  local_authority_ons_district                 117536 non-null  object
 16  local_authority_highway                      117536 non-null  object
 17  first_road_class                             117536 non-null  int64
 18  first_road_number                            117536 non-null  int64
 19  road_type                                    117536 non-null  int64
 20  speed_limit                                  117536 non-null  int64
 21  junction_detail                              117536 non-null  int64
 22  junction_control                             117536 non-null  int64
 23  second_road_class                            117536 non-null  int64
 24  second_road_number                           117536 non-null  int64
 25  pedestrian_crossing_human_control            117536 non-null  int64
 26  pedestrian_crossing_physical_facilities      117536 non-null  int64
 27  light_conditions                             117536 non-null  int64
 28  weather_conditions                           117536 non-null  int64
 29  road_surface_conditions                      117536 non-null  int64
 30  special_conditions_at_site                   117536 non-null  int64
 31  carriageway_hazards                          117536 non-null  int64
 32  urban_or_rural_area                          117536 non-null  int64
 33  did_police_officer_attend_scene_of_accident  117536 non-null  int64
 34  trunk_road_flag                              117536 non-null  int64
 35  lsoa_of_accident_location                    117536 non-null  object
dtypes: int64(25), object(11)
memory usage: 32.3+ MB